<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ChoreScore</title>
	<meta charset='utf-8' content='badge dashboard' name='description'>
	<link rel='stylesheet' type='text/css' href='/styles.css'>
</head>
<body>

	<header>
		<h1>ChoreScore</h1>
	</header>

	<div id='badge-buttons'>
		<button type='button' id='create-badge' class='create-buttons'>Create a new badge</button>
		<button type='button' id='edit-badge' class='edit-buttons'>Edit a badge</button>
		<button type='button' id='redeem-badge'>Redeem a badge</button>
		<button type='button' id='delete-badge'>Delete a badge</button>
		<button type='button' id='view-redeemed-badges'>View Redeemed Badges</button>
	</div>

	<button id='done-button'>Done</button>

	<main>
		<div id='badge-dashboard-container'></div>
	</main>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/client.js'></script>
</body>
</html>