<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ChoreScore</title>
	<meta charset='utf-8' content='badge dashboard' name='description'>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb' crossorigin='anonymous'>
	<link rel='stylesheet' type='text/css' href='./subDashboard.css'>
	<link href='https://fonts.googleapis.com/css?family=Delius' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet'>
	<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
</head>
<body id='badge-dashboard'>

	<header>
		<h1>ChoreScore</h1>
		<img src='/images/prize.png' id='badge-pic' alt='trophy icon'>
	</header>

	<nav role='navigation'>
		 <div id='menuToggle'>

		    <input type='checkbox' aria-label='hamburger menu' autofocus>

		    <span></span>
		    <span></span>
		    <span></span>

		    <ul id='menu'>
		      <li><a href='/createbadge'>Create a Prize</a></li>
		      <li><a id='badge-button' href='/editbadge'>Edit a Prize</a></li>
		      <li><a href='/redeembadge'>Redeem a Prize</a></li>
		      <li><a href='/deletebadge'>Delete a Prize</a></li>
		      <li><a href='/redeemedbadges'>View Redeemed Prizes</a></li>
		    </ul>
		 </div>
	</nav>

	<main id='badge-dashboard-container'></main>

	<button id='back-button' aria-label='return to dashboard'><div class='arrow-back trigger'></div></button>

	<div id='ground'>
		<img src='/images/curve.png' alt='image of the ground' id='rolling-hills'>
	</div>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/client.js'></script>
</body>
</html>