<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ChoreScore</title>
	<meta charset='utf-8' content='chore dashboard' name='description'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel='stylesheet' type='text/css' href='/subDashboard.css'>
	<link href="https://fonts.googleapis.com/css?family=Delius" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Average+Sans" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

	<header>
		<h1>ChoreScore</h1>
		<img src='/images/laundrybadge.png' id='chores-pic'/>
	</header>

	<nav role="navigation">
	  <div id="menuToggle">

	    <input type="checkbox"/>

	    <span></span>
	    <span></span>
	    <span></span>

	    <ul id="menu">
	      <a href='/api/createchore'><li>Create a Chore</li></a>
	      <a href='/api/editchore'><li>Edit a Chore</li></a>
	      <a href='/api/completechore'><li>Complete a Chore</li></a>
	      <a href='/api/deletechore'><li>Delete a Chore</li></a>
	      <a href='/api/completedchores'><li>View Completed Chore</li></a>
	    </ul>
	  </div>
	</nav>

	<main>
		<div id='chore-dashboard-container'></div>
	</main>

	<button id='back-button'><div class='arrow-back trigger'></div></button>

	<div id='ground'>
		<img src='/images/curve.png' alt='image of the ground' id='rolling-hills'>
	</div>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/client.js'></script>
</body>
</html>