<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ChoreScore</title>
	<meta charset='utf-8' content='complete chores' name='description'>
	<link rel='stylesheet' type='text/css' href='/styles.css'>
</head>
<body>

	<header>
		<h1>ChoreScore</h1>
	</header>

	<form id='complete-chore-form'>
		<fieldset>
			<legend>Complete a Chore</legend>

			<select form='complete-chore-form' name='chore-to-complete' id='complete-dropdown' autofocus required>
			</select>

			<select form='complete-chore-form' name='family-to-complete' id='family-dropdown' autofocus required>
			</select>

		</fieldset>

		<button type='submit'>Complete it</button>
	</form>

	<button id='done-button'>Done</button>

	<div id='complete-page-badge-container'></div>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/client.js'></script>		
</body>
</html>