<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ChoreScore</title>
	<meta charset='utf-8' content='add a family member' name='description'>
	<link rel='stylesheet' type='text/css' href='/styles.css'>
</head>

	<header>
		<h1>ChoreScore</h1>
	</header>

	<form id='family-form'>
		<fieldset>
			<legend>Create Family</legend>

			<label for='family-name'>Name</label>
			<input type='text' name='family-name' id='family-name' required autocomplete>

		</fieldset>

		<button type='submit'>Add 'em</button>
	</form>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/client.js'></script>		

<body>

</body>
</html>