<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ChoreScore</title>
	<meta charset='utf-8' content='user dashboard' name='description'>
	<link rel='stylesheet' type='text/css' href='/styles.css'>
</head>
<body>

	<header>
		<h1>ChoreScore</h1>
	</header>

	<div id='dashboard-controls'>
		<button type='button' id='badges' autofocus>Badges</button>

		<button type='button' id='chores'>Chores</button>

		<button type='button' id='family'>Family</button>
	</div>

	<button type='button' id='create-badge' class='create-buttons' aria-live='passive' hidden>Create a new badge</button>
	<button type='button' id='edit-badge' class='edit-buttons' aria-live='passive' hidden>Edit a badge</button>
	<button type='button' id='redeem-badge' aria-live='passive' hidden>Redeem a badge</button>
	<button type='button' id='delete-badge' aria-live='passive' hidden>Delete a badge</button>


	<button type='button' id='create-chore' class='create-buttons' aria-live='passive' hidden>Create a new chore</button>
	<button type='button' id='edit-chore' class='edit-buttons' aria-live='passive' hidden>Edit a Chore</button>
	<button type='button' id='complete-chore' aria-live='passive' hidden>Complete a Chore</button>
	<button type='button' id='delete-chore' aria-live='passive' hidden>Delete a chore</button>

	<button type='button' id='create-family' class='create-buttons' aria-live='passive' hidden>Add a family member</button>
	<button type='button' id='edit-family' class='edit-buttons' aria-live='passive' hidden>Edit Family</button>
	<button type='button' id='delete-family' aria-live='passive' hidden>Delete a Family Member</button>

	<div id='badge-container'></div>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/client.js'></script>
</body>
</html>