<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ChoreScore</title>
	<meta charset='utf-8' content='edit chores' name='description'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel='stylesheet' type='text/css' href='/operations.css'>
	<link href="https://fonts.googleapis.com/css?family=Delius" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Average+Sans" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

	<header>
		<h1>ChoreScore</h1>
	</header>

	<form id='edit-chore-form'>
		<fieldset>
			<legend>Edit Chore</legend>

			<select form='edit-chore-form' name='chore-to-edit' id='chore-edit-dropdown' autofocus required>
			</select>

			<label for='chore-name'>New Chore Name</label>
			<input type='text' name='chore-name' id='chore-name' autocomplete>

			<label for='chore-value'>New Chore Value</label>
			<input type='number' name='chore-value' id='chore-value' autocomplete>

		</fieldset>

		<button type='submit'>Edit it</button>
	</form>

	<button id='chore-done-button'>Done</button>

	<div id='chore-edit-page-badge-container'></div>

	<div id='ground'>
		<img src='/images/curve.png' alt='image of the ground' id='rolling-hills'>
	</div>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/client.js'></script>		
</body>
</html>