<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ChoreScore</title>
	<meta charset='utf-8' content='edit badges' name='description'>
	<link rel='stylesheet' type='text/css' href='/styles.css'>
</head>
<body>

	<header>
		<h1>ChoreScore</h1>
	</header>

	<form id='edit-badge-form' aria-live='assertive' hidden>
		<fieldset>
			<legend>Edit Badge</legend>

			<select form='edit-badge-form' name='badge_to_edit' id='edit-dropdown' autofocus required>
			</select>

			<label for='badge-name'>New Badge Name</label>
			<input type='text' name='badge-name' id='badge-name' autocomplete>

			<label for='badge-cost'>New Badge Cost</label>
			<input type='number' name='badge-cost' id='badge-cost' autocomplete>

		</fieldset>

		<button type='submit'>Edit it</button>
	</form>

	<button id='done-button'>Done</button>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/client.js'></script>		
</body>
</html>