<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ChoreScore</title>
	<meta charset='utf-8' content='family dashboard' name='description'>
	<link rel='stylesheet' type='text/css' href='/styles.css'>
</head>
<body>

	<header>
		<h1>ChoreScore</h1>
	</header>

	<div id='family-buttons'>
		<button type='button' id='create-family' class='create-buttons'>Add a family member</button>
		<button type='button' id='edit-family' class='edit-buttons'>Edit Family</button>
		<button type='button' id='delete-family'>Delete a Family Member</button>
	</div>

	<button id='back-button'>Back</button>

	<main>
		<div id='family-dashboard-container'></div>
	</main>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/client.js'></script>
</body>
</html>