<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Chore Score</title>
	<meta charset='utf-8' content='splash page for chore score' name='description'>
	<link rel='stylesheet' type='text/css' href='/styles.css'>
</head>
<body>
	<header>
		<h1>Chore Score</h1>
	</header>
	<button type='button' id='splash-signup'>Sign Up</button>
	<button type='button' id='splash-login'>Login</button>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/client.js'></script>
</body>
</html>