<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ChoreScore</title>
	<meta charset='utf-8' content='view redeemed badges' name='description'>
	<link rel='stylesheet' type='text/css' href='/styles.css'>
</head>
<body>

	<header>
		<h1>ChoreScore</h1>
	</header>

	<button id='badge-done-button'>Done</button>

	<main>
		<div id='redeemed-badge-container'></div>
	</main>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/client.js'></script>		
</body>
</html>