html, 
body {
	background-color: #83d0d8;
	font-family: 'Average Sans', sans-serif;
}

body {
	position: relative;
}

h1 {
	font-size: 55px;
	text-align: center;
	font-family: 'Delius', cursive;
	color: #ffffff;
	padding: 20px 20px 0 20px;
	margin-bottom: 0;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

fieldset {
	position: relative;
}

#chore-form, 
#badge-form,
#family-form, 
#edit-chore-form, 
#edit-badge-form, 
#edit-family-form, 
#complete-chore-form, 
#redeem-badge-form,
#delete-chore-form,
#delete-badge-form,
#delete-family-form {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 38px;
}

#family-form,
#delete-chore-form,
#delete-badge-form,
#delete-family-form {
	margin-top: 55px;
}

#edit-chore-form, 
#edit-badge-form, 
#edit-family-form {
	margin-top: 50px;
	position: relative;
}

.legend {
	position: absolute;
	color: black;
	text-align: center;
	top: -20px;
	font-size: 24px;
}

.three-field-legend {
	top: -42px;
}

.form-control, 
.operations-button {
	height: 50px;
	border: none;
	border-radius: 0;
	font-size: 20px;
}

.three-field-operations-button {
	position: absolute;
	z-index: 3;
	top: 201px;
}

#chore-edit-dropdown, 
#edit-dropdown, 
#family-edit-dropdown, 
#complete-dropdown, 
#family-dropdown, 
#redeem-dropdown,
#family-dropdown,
#chore-delete-dropdown,
#delete-dropdown,
#family-delete-dropdown {
	height: 50px;
}

.one-field-dropdown {
	margin-top: 24px;
}

.form-group {
	margin-bottom: 0;
}

.two-field-dropdown {
	margin-top: 25px;
}

.operations-button {
	margin-top: 24px;
	width: 100%;
	background-color: #f05928;
}

.operations-button:hover {
	cursor: pointer;
}

.create-container,
.add-family-create-container, 
#create-badge-create-container,
.delete-family-create-container,
.delete-badge-create-container,
.create-chore-create-container,
.edit-chore-create-container,
.complete-chore-create-container,
.delete-chore-create-container, 
#edit-badge-create-container, 
#redeem-badge-create-container,
#edit-family-create-container {
	position: absolute;
	width: 100%;
	z-index: 3;	
	bottom: -124px;
}

#edit-family-create-container {
	bottom: -153px;
}

#edit-badge-create-container {
	bottom: -170px;
}

.zero-field-create-container {
	top: 105px;
	bottom: 0;
	z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
	height: 400px;
}

.one-field-create-container {
	bottom: -92px;
}

.three-field-create-container {
	bottom: -170px;
}

.new-box {
	width: 80%;
	margin: auto;
	text-align: center;
	background-color: #ffffff;
	border-radius: 500px;
	position: relative;
	height: auto;
}

.new-avatar-box {
	height: 66px;
}

.zero-field-create-container .new-box {
	margin-bottom: 20px;
}

.zero-field-create-container .new-box:last-child {
	margin-bottom: 60px;
}

.avatar, p {
  display: inline-block;
}

.avatar {
  position: absolute;
  left: 1px;
  bottom: 1px;
}

p {
  margin-bottom: 0;
  padding-top: 3px;
  font-size: 20px;
  line-height: 28px;
}

.back-button-container {
	position: relative;
	width: 100%;
	text-align: center;
}

.done-button {
	background-color: #a3bd3e;
	border: none; 
	position: fixed;
	bottom: 50px;
	z-index: 3;
	width: auto;
}

.arrow-back {
	margin: auto;
  	width: 0; 
	height: 0; 
	border-bottom: 30px solid transparent;
 	border-top: 30px solid transparent;
	border-right: 30px solid #fcd43e;
}

.arrow-back:hover {
	cursor: pointer;
}

#rolling-hills {
	width: 100%;
	height: 250px;
	position: fixed;
	bottom: 0;
	z-index: 2;
}

@media screen and (min-width: 768px) {
    h1 {
   		font-size: 65px;
    }
  	#rolling-hills {
        display: block;
  		width: 100%;
  		position: fixed;
   		bottom: -120px;
   		height: 370px;
    }
    .legend {
		font-size: 32px;
		top: -30px;
	}
	.three-field-legend {
		top: -50px;
	}
	#chore-form, 
	#badge-form, 
	#family-form, 
	#edit-chore-form, 
	#edit-badge-form, 
	#edit-family-form, 
	#complete-chore-form,
	#redeem-badge-form,
	#delete-chore-form,
	#delete-badge-form,
	#delete-family-form {
		margin-top: 32px;
		width: 50%;
	}
	#family-form,
	#delete-chore-form,
	#delete-badge-form,
	#delete-family-form {
		margin-top: 52px;
	}
	#edit-chore-form, 
	#edit-badge-form, 
	#edit-family-form {
		margin-top: 60px;
	}
	.new-box {
	    width: 30%;
    }
}