html, body { 
  	background: url('images/catt-liu-1625.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
}

body {
	box-sizing: border-box;
	font-family: 'Average Sans', sans-serif;
	position: relative;
	bottom: 0;
}

#main {
	height: 100vh;
	position: relative;
}

h1 {
	font-size: 65px;
	text-align: center;
	font-family: 'Delius', cursive;
	padding-top: 200px;
	color: white;
}

header p {
	font-size: 20px;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	color: white;
}

.splash-buttons:hover, #sign-up-button:hover {
	cursor: pointer;
}

#splash-login {
	background-color: #FFFF2A;
	border: none;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 18px;
	width: 85px;
	height: 45px;
	padding: 5px 10px 5px 10px;
	z-index: 2;
}

#arrow-down-container {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 30px;
}

.arrow-down {
	display: inline-block;
  	width: 0; 
  	height: 0; 
 	border-left: 30px solid transparent;
  	border-right: 30px solid transparent;
	border-top: 30px solid #FFFF2A;
}

#arrow-up-container {
	text-align: center;
	margin-top: 195px;
}

.arrow-up {
	display: inline-block;
  	width: 0; 
  	height: 0; 
 	border-left: 30px solid transparent;
  	border-right: 30px solid transparent;
	border-bottom: 30px solid #FFFF2A;
}

#arrow-up:hover {
	cursor: pointer;
}

#arrow-down {
    border: solid #FFFF2A;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 30px;
}

#arrow-down:hover {
	cursor: pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.slider {
  	position: absolute;
  	width: 100vw;
  	height: 100vh;
  	top: 0;
  	overflow: hidden;
  	background-color: white;
  	transition: all 1s;
}

.slider.close {
  	top: 100vh;
  	height: 0;
}

#split {
	height: 100%;
}

#inner-left-container, #inner-right-container {
	border: none;
	padding: 0;
}

#inner-left-container {
	background-color: white;
	height: 25%;
}

#inner-right-container {
	background-image: url('images/ze-zorzan-57616.jpg');
	background-size: 250%;
}

#split {
	position: relative;
}

#instructions {
	color: black;
	text-align: center;
	margin-top: 60px;
}

#registration-form {
	margin-top: 50px;
}

.inputs, .buttons {
	padding: 0;
}

.split-form, .split-form-button {
	width: 80%;
	margin: auto;
}

.form-control, #sign-up-button {
	height: 50px;
	border: none;
	border-radius: 0;
}

.buttons {
	margin-top: 20px;
}

#sign-up-button {
	width: 100%;
}

#laundry {
	display: block;
	margin: 70px auto 0 auto;
	width: 25%;
}

a {
	position: fixed;
	bottom: 0;
	right: 0;
}