html, body { 
  	background: url('images/catt-liu-1625.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
}

body {
	box-sizing: border-box;
	font-family: 'Average Sans', sans-serif;
	color: white;
}

h1 {
	font-size: 42px;
	margin: 0;
	padding: 20px 0 0 20px;
	font-family: 'Delius', cursive;
}

header p {
	font-size: 20px;
	padding: 5px 0 0 24px;
	margin: 0;
}

.splash-buttons:hover {
	cursor: pointer;
}

#splash-signup {
	display: block;
	background-color: #FFFF2A;
	border: none;
	padding: 10px 20px 10px 20px;
	font-size: 18px;
	margin: 150px auto 0 auto;
}

#splash-login {
	background-color: #6B9956;
	border: none;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
}

#arrow-container {
	text-align: center;
	margin-top: 230px;
}

i {
    border: solid #FFFF2A;
    border-width: 2px 0 0 2px;
    display: inline-block;
    padding: 30px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

footer a {
	position: fixed;
	bottom: 0;
	right: 0;
}