html, body { 
  	background: url('images/catt-liu-1625.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
  	height: 100%;
}

body {
	box-sizing: border-box;
	font-family: 'Average Sans', sans-serif;
	color: white;
}

h1 {
	font-size: 42px;
	margin: 0;
	padding: 20px 0 0 20px;
	font-family: 'Delius', cursive;
}

header p {
	font-size: 20px;
	padding: 5px 0 0 24px;
	margin: 0;
}

.splash-buttons:hover {
	cursor: pointer;
}

#splash-signup {
	display: block;
	background-color: #FFFF2A;
	border: none;
	padding: 10px 20px 10px 20px;
	font-size: 18px;
	margin: 150px auto 0 auto;
}

#splash-login {
	background-color: #6B9956;
	border: none;
	/*position: fixed;*/
	top: 0;
	right: 0;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
}

#arrow-up-container {
	text-align: center;
	margin-top: 425px;
}

#arrow-down-container {
	text-align: center;
	margin-top: 280px;
}

#arrow-up {
    border: solid #FFFF2A;
    border-width: 2px 0 0 2px;
    display: inline-block;
    padding: 30px;
}

#arrow-up:hover {
	cursor: pointer;
}

#arrow-down {
    border: solid #FFFF2A;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 30px;
}

#arrow-down:hover {
	cursor: pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.slider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: #000; color: #FFF;
  transition: all 1s;
}

.slider.close {
  top: 100vh;
  height: 0;
}

footer a {
	position: fixed;
	bottom: 0;
	right: 0;
}